* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

picture {
  display: block;
  line-height: 0;
}

a {
  display: inline-block;
}

section {
  min-height: 80vh;
  padding: 35px $sidePadding;
}
