.projects {
  width: 100%;
  min-height: 100vh;
}

.container-projects {
  width: 80%;
}

.project {
  width: 90%;
  background-color: lightblue;
  border-radius: 10px;
  @include flex-simple(center, center);
}
